<nav id="home-sidebar">
	<ul class="side-nav-style">
		<li><a href="#">Sign up</a></li>
		<li><%= link_to "About", about_path %></li>
		<li><%= link_to "Contact", contact_path %></li>
	</ul>
</nav>

<div id="main-home" class="mid-shadow">
	<section id="video">
		<iframe width="700" height="386" rel=nofollow src="http://www.youtube.com/embed/CBOt2XKl2Rw?HD=1;rel=0;showinfo=0" frameborder="0" allowfullscreen></iframe>
	</section>
</div>