// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*-----------------PROFILES-------------------*/
#main-profile {
	margin:85px 0 80px 194px;
	width: 838px;
	height: 499px;
	background: url(../images/main-bkgd.png) repeat;
}
